* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

:root {
    --main-color: #f77825;
    --blue-color: #2dc0e8;
    --gray-color: #999;
    --light-gray-color: #f3f3f3;
}

/* common */

.container {
    width: 1180px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.light_gray_bg {
    background-color: var(--light-gray-color);
}

.link_3_btn {
    padding: 16px 42px;
    background: var(--main-color);
}

.one-third {
    width: 33.33%;
}

.blue_text {
    color: var(--blue-color);
}

.blue_bg {
    background: var(--blue-color);
}

.orange {
    color: var(--main-color);
}

.orange_bg {
    background: var(--main-color);
}

.btn_big {
    padding: 20px 44px;
    border-radius: 8px;
}

.light_gray {
    color: var(--gray-color);
}

.bold_text {
    font-weight: 800;
}

/* ================ Header ============== */

#page {
    position: relative;
}

#hidden_pix_15 {
    display: none;
    position: absolute;
    font-size: 2rem;
    top: 650px;
    left: 215px;
}

.section_text_2 {
    width: 1005px;
    height: 120px;
    background: var(--gray-color);
}

#section_text_2 {
    margin-top: 32px;
}

#section_text_2 .omega {
    float: right;
    width: auto;
}

#section_text_2 .omega a {
    background-color: #f77825;
    padding: 16px 35px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

#section_text_2 .omega a span {
    font-size: 1.6rem;
    color: #fff;
}

#section_text_2 .alpha {
    float: left;
    width: auto;
    margin-top: 12px;
}

.sr-only {
    display: none;
}

#section_header_1 {

}


#section_header_1 ul {
    list-style: none;
}

.navbar {
    display: flex;
    /* background: ; */
    width: 100%;
}

.containerss {
    width: 100%;
}

#navbar-collapse-02 {
    background-color: #fff;
    width: 100%;
}

#navbar-collapse-02 .nav {
    display: flex;
    gap: 32px;
    line-height: 42px;
}

#navbar-collapse-02 .nav li a {
    font-size: 2rem;
    color: #666;
}

#section_slider {
    background-color: #eee;
}

#myCarousel {
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    height: 465px;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
}

.carousel-inner .carousel-caption {
    color: #fff;
    width: 100%;
    height: 120px;
    padding: 32px 0 0 24px;
    background: linear-gradient( transparent, #191919);
    position: absolute;
    bottom: 0;
    left: 0;
}

.carousel-inner .carousel-caption h3 {
    font-size: 3rem;
    font-weight: 600;
}

.carousel-inner .carousel-caption p {
    font-size: 2rem;
}

.gym_life {
    margin: 42px 0 ;
}

.top_padding {
    display: flex;
    justify-content: space-evenly;
}

.part_st .logo_style {
    border-radius: 50%;
}

.column .part_st{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.part_st .text_gym_style {
    width: 50%;
}

.text_gym_style .gym_st {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 16px 0 24px;
}

.text_gym_style .gym_text {
    color: #ccc;
    text-align: justify;
    line-height: 1.8;
    font-size: 1.6rem;
    margin-bottom: 12px;
}

.link_3_btn.editContent a {
    font-size: 1.6rem;
    color: #fff;
}

#section_intro_title {
    padding: 20px 0 90px;
}

#section_intro_title .container {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

#section_intro_title .flat_pricing {
    width: 375px;
    height: 500px;
    padding: 42px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
}

#section_intro_title .flat_pricing .editContent {
    font-size: 2.2rem;
    margin-bottom: 12px;
} 

#section_intro_title .flat_pricing .big_title {
    font-size: 5rem;
}

#section_intro_title .flat_pricing .flat_pricing_list {
    line-height: 3;
    margin-top: auto;
}

#section_intro_title .flat_pricing a {
    font-size: 1.8rem;
    color: #fff;
    margin-top: auto;
}

.subscribe {
    background: #191919;
}

.subscribe .text_input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subscribe .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe .container .sixteen{
    height: 560px;
    width: 560px;
    background: #151515;
    margin: 90px 0;
}

.subscribe #contact_form {
    display: flex;
    flex-direction: column;
}

.subscribe #contact_form .pix_text {
    padding: 12px;
    margin: 16px;
    font-size: 1.6rem;
}

.subscribe .headtext_style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe .headtext_style .pix_text {
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 60px 0;
}

.subscribe .headtext_style .pix_text::after {
    content: "";
    width: 8px;
    height: 110px;
    background: var(--blue-color);
    position: absolute;
    bottom: -80px;
    transform: rotate(90deg);
    border-radius: 8px;
    
}

.subscribe .headtext_style span {
    font-size: 2.4rem;
}

.subscribe .editContent {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe .subtext_style {
    color: var(--gray-color);
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 50px;
}

#contact_form input,
#contact_form button {
 border: none;
 border-radius: 8px;
 height: 60px;
}

#submit_btn_15 {
    background-color: var(--blue-color);
}

#submit_btn_15 .editContent{
    color: #fff;
    font-size: 1.6rem;
}

#section_party_4 .foot_st {
    height: 80px;
    background: #151515;
}

#section_party_4 .sixteen {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    line-height: 80px;
    color: var(--gray-color);
    letter-spacing: 0.025em;
}

#section_party_4 .sixteen .seven .pixfort_st{
    color: var(--blue-color);
    font-weight: 800;
}