* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

:root {
    --light-yellow-color: #f1c232;
}


/* ======= Common ====== */
.container {
    width: 1180px;
    margin-right: auto;
    margin-left: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.text_span {
    color: var(--light-yellow-color);
}

/* =============== Navbar header ============= */

#section_header_2_dark {
    background: #333;
}

#hidden_pix_1,
#hidden_pix_6 {
    display: none;
}

.containerss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.sr-only {
    display: none;
}

#navbar-collapse-02 .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

#navbar-collapse-02 .nav a {
    font-size: 2.2rem;
    color: #fff;
}

#navbar-collapse-02 .nav span {
    font-size: 1.8rem;
}

.section_video {
    width: 100%;
}

.section_video video {
    width: 100%;
}

.creative_header {
    position: relative;
}

.section_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.section_wrapper .container {
    width: 100%;
    height: 100%;
}

.section_wrapper .sixteen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.section_wrapper .title_style {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.section_wrapper .subtitle_style {
    display: inline-block;
    width: 760px;
    font-size: 2.4rem;
    color: #ccc;
    text-align: center;
    margin-bottom: 16px;
}

.section_wrapper .email_subscribe {
    font-size: 2em;
    background: #000;
    padding: 18px;
    border-radius: 8px;
}

.substyle.pix_builder_bg {
    display: flex;
    flex-direction: column;
}

#contact_form button,
#contact_form_sub button,
#contact_form_sub input,
#contact_form input {
    font-size: 1.8rem;
    padding: 12px;
    border-radius: 8px;
}

#contact_form input {
    width: 360px;
}

#contact_form button {
    background: var(--light-yellow-color);
    color: #fff;
    margin-left: 16px;
    transition: all 0.3s ease;
}

.sixteen .note_st {
    margin-top: 32px;
    font-size: 1.8rem;
    color: #eee;
}

.join_us_section  {
    margin-top: 32px;
}

.join_us_section .ten.columns.alpha {
    width: 60%;
}

.join_us_section .six.columns.omega {
    width: 30%;
    background: #ebeaea;
}

.join_us_section .title_st {
    font-size: 2rem;
    font-weight: 400;
}

.join_us_section .sixteen {
    display: flex;
}

.join_us_section .zone_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.join_us_section .psingle_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.join_us_section .psingle_item .icon_st {
    margin-right: 24px;
}

.join_us_section .psingle_item .text_st {
    width: 365px;
    font-size: 1.6rem;
    margin-left: auto;
}

.join_us_section .psingle_item .text_st .title_st {
    margin-bottom: 16px;
}

.join_us_section .psingle_item .text_st .subject_st {
    color: #ccc;
}

.join_us_section .substyle {
    padding: 16px;
}

.join_us_section .title-style .pix_text {
    display: inline-block;
    font-size: 2.4rem;
    margin: 16px 0;
}

.join_us_section .substyle .text-style {
    font-size: 1.4rem;
    color: #bbbaba;
    margin-bottom: 12px;
}

#contact_form_sub .pix_text {
    width: 100%;
    margin-bottom: 12px;
    font-size: 1.4rem;
}

#countries {
    padding: 12px 8px;
    outline: none;
    border: none;
    border-radius: 8px;
}

#contact_form_sub .send_btn {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#contact_form_sub .send_btn button {
    color: #fff;
    margin-top: 24px;
    margin-left: 0;
    background: #7cc576;
}

.foot_st {
    height: 70px;
    background: #f6f6f6;
}

.foot_st .bg_foot {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.4rem;
    color: #b9b9b9;
}

.foot_st .bg_foot .pixfort_st {
    color: #674397;
}